@import 'tailwindcss';

html {
  font-size: 20px;
}

:root {
  --bg: #fefce8;
  --clr: #000000;
  --input-border: hsl(from var(--clr) h s calc(l + 27));
  --input-placeholder: hsl(from var(--clr) h s calc(l + 50));
}

@theme {
  --color-bgclr: var(--bg);
  --color-txclr: var(--clr);
  --color-input-border: var(--input-border);
  --color-input-placeholder: var(--input-placeholder);
  --spacing-input-h: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e2939;
    --clr: #ffffff;
    --input-border: hsl(from var(--clr) h s calc(l - 20));
    --input-placeholder: hsl(from var(--clr) h s calc(l - 40));
  }
}

.combobox {
  @apply border-input-border relative flex items-center border border-l-0;
}
