@import "tailwindcss";

html {
  font-size: 20px;
}

:root {
  --bg: #fefce8;
  --clr: #000000;
  --input-border: hsl(from var(--clr) h s calc(l + 20));
  --input-placeholder: hsl(from var(--clr) h s calc(l + 40));
}

@theme {
  --color-bgclr: var(--bg);
  --color-txclr: var(--clr);
  --color-input-border: var(--input-border);
  --color-input-placeholder: var(--input-placeholder);
}

@media (prefers-color-scheme: dark) {
  :root { 
    --bg: #1e2939;
    --clr: #ffffff;
    --input-border: hsl(from var(--clr) h s calc(l - 20));
    --input-placeholder: hsl(from var(--clr) h s calc(l - 40));
  }
}

#wrapper {
  @apply h-full w-full bg-bgclr text-txclr transition-colors duration-300;
}

.input-ip {
  @apply border border-r-0 border-input-border placeholder-input-placeholder px-2 py-0.5;
}